
body{
  background-image: url("cat-memes.jpg");
}

p{
  color: black;
  font-size: 30px;
  z-index: 999;
}

#previous-page{
  position: fixed;
  z-index: 999;
  bottom: 3px;
  left: 10px;
  width:100px;
  height:40px;
  cursor:pointer;
}
#next-page{
  position: fixed;
  z-index: 999;
  bottom: 3px;
  right: 10px;
  width:100px;
  height:40px;
  cursor:pointer;
}
