#top{
  position:relative;
  left:550px;
  top:50px;
  color:#95baf5;
  font-family: 'Baloo Tammudu 2', cursive;
  font-size: 50px;
}


.small-projects a{
  font-size: 30px;
  font-family: 'Baloo Tammudu 2', cursive;
  color:#8fa0ba;
  position: relative;
  top:100px;
  left:34px;
  padding: 30px 200px;
}

.big-projects a{
  font-size: 35px;
  font-family: 'Baloo Tammudu 2', cursive;
  color:#8fa0ba;
  position:relative;
  top:50px;
  left:100px;
  padding:60px 50px;
}

img{
  align-items: baseline;
  width:30px;
  height: 30px;
}

#sun{
  position: absolute;
  top:80px;
  left:80px;
  width:200px;
  height:200px;
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
}


#music{
  position:absolute;
  top:30px;
  left:300px;


}
