.button-container {
  display:flex;
  justify-content: center;
}

button{
  width:80px;
  height:80px;
  border-radius: 10px;
  margin-left: 20px;
  background-color: black;
  color:white;
  cursor:pointer;
}

.button: hover{background-color: #3e8e41}

.button: active{
  background-color: #3e8e41;
  box-shadow: 5px #666;
  transform:translateY(4px);
}

body {
  -webkit-animation: changeBackground 3s infinite;
  animation: changeBackground 3s infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.control-container{
  display:flex;
  justify-content: center;
}

#allVolume{
  width:120px;
  height:80px;
  border-radius: 10px;
  margin-left: 20px;
  background-color: black;
  color:white;
  cursor:pointer;
}

.next-button{
  position: fixed;
  bottom: 3px;
  right: 10px;
}


#next-page{
  width:100px;
  height:40px;
  cursor:pointer;
}


@keyframes changeBackground {
  from {
    background-color: blue;
  }

  to {
    background-color: salmon;
  }
}
